body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    background:#f4f4f4;
}

header{
    background:#d62828;
    color:white;
    text-align:center;
    padding:20px;
}

.sos-section{
    text-align:center;
    margin:30px;
}

#sosBtn{
    background:red;
    color:white;
    border:none;
    padding:20px 40px;
    font-size:24px;
    border-radius:10px;
    cursor:pointer;
}

.card{
    background:white;
    margin:15px;
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

h2{
    text-align:center;
}
.location-section{
    text-align:center;
    padding:20px;
}

.location-section button{
    margin:10px;
    padding:12px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
button:hover{
    transform:scale(1.05);
    transition:0.3s;
}